*,
*:before,
*:after {
  box-sizing: border-box;
  transition: 0.25s ease-in-out;
}

body {
  background-color: #04b8ad;
}

.app {
  max-width: 500px;
  margin: 100px auto 0 auto;
  font-family: roboto;
  font-size: 40px;
  line-height: 60px;
  color: white;
}

.input-container {
  border-bottom: 1px dashed #007a73;
  color: #007a73;
  padding: 6px;
  display: inline-block;
}

.input-container:hover {
    border-bottom:1px dashed #004f4a;
    color:#004f4a;
    cursor:pointer;
}

.input-container.active {
    z-index:5000;
    border-bottom:1px dashed #004f4a;
    color:#004f4a;
    cursor:default;
}

.input-container.active .input {
    visibility:visible;
    opacity:1;
}

.input-container.placeholder {
  position: relative;
  z-index: 1;
}

.input-container.input {
  display: block;
  visibility: hidden;
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  opacity: 0;
}

input[type="text"],
select[type="text"] {
  border: none;
  outline: none;
  margin: 0;
  padding: 6px;
  font-weight: 200;
  font-size: 40px;
  line-height: 60px;
  display: block;
}

.fancy-select {
    font-size: 30px;
}

.hidden {
  position: absolute;
  left: -5000px;
}

button {
  display: block;
  background: white;
  border: none;
  padding: 10px 20px;
  font-size: 30px;
  margin: 30px 0 0 0;
}
